header {
  height: 150px;
  background-color:#0562c1;
  color:black;
  text-align:center;
  padding:5px;
}

nav {
  background-color:#f49102;
  height:100%;
  width:15%;
  float:left;
  padding:5px;
  list-style-type:none;
}

nav ul {
  float: left;
  font-size: 17px;
  margin: 0;
  padding: 5px;
  list-style-type: none;
}

nav ul ul{
  display: none;
  z-index: 1;
}

nav li {
  width:100%;
  padding: 5px;
}

nav a:link {
  text-decoration: none;
  color: #39363d;
}

nav a:visited {
  text-decoration: none;
  color: #39363d;
}

nav li:hover {
  background-color: #3078c1;
  border-radius: 5px;
}

nav ul li {
 position: relative;
 width: 115px
}

nav ul li:hover > ul{
  position:absolute;
  display:block;
  top: 0;
  left: 100%;
  background-color: #0053a8;
  border-radius: 5px;
  list-style-type: none;
}

section {
  margin-left: 15%;
  padding:10px;
}

#map {
  float: left;
  width: 425px;
  height: 325px;
  text-align: center;
  margin: 0 auto;
  border: 2px;
  padding: 15px;
  z-index: -1;
}

footer {
  background-color: #000;
  color:white;
  clear:both;
  text-align:center;
  padding:5px;
}

div#content {
  display: none;
}

div#loading {
  top: 200px;
  margin: auto;
  position: absolute;
  z-index: 1000;
  width: 160px;
  height: 24px;
  background-image: url("loadingimage.gif");
  background-repeat: no-repeat;
  cursor: wait;
}

div#dim{
 position: absolute;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 1000;
 background-color: #202020;
 opacity: 0.7;
 filter: alpha(opacity=50);
 visibility: hidden;
}

.dim{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: alpha(opacity=100);
}
