{% extends 'layout.html' %}
{% block style %}
      div#content {
        display: none;
      }

      div#loading {
        top: 200 px;
        margin: auto;
        position: absolute;
        z-index: 1000;
        width: 160px;
        height: 24px;
        background: url("{{ url_for('static', filename = 'loadingimage.gif') }}") no-repeat;
        cursor: wait;
      }
{% endblock %}
{% block script %}
  function preloader(){
    document.getElementById("loading").style.display = "none";
    document.getElementById("content").style.display = "block";
  }
  function initialize() {
    {% for sim in sims %}
      var mapOptions{{sim.id}} = {
        zoom: 8,
        center: new google.maps.LatLng({{sim.launch_site.latitude}}, {{sim.launch_site.longitude}})
      }
      var map{{sim.id}} = new google.maps.Map(document.getElementById('map-canvas{{sim.id}}'), mapOptions{{sim.id}});
      var ctaLayer = new google.maps.KmlLayer({
        url: 'http://near-space-circus.heroku.com/kml/{{sim.id}}'
      });
      ctaLayer.setMap(map{{sim.id}});
    {% endfor %}
  }
  google.maps.event.addDomListener(window, 'load', initialize);
  window.onload = preloader
{% endblock %}
{% block body %}
  <div id="loading"></div>
  <div id="content">
    <p><h3>Simulations created using <a href="http://predict.habhub.org">predict.habhub.org</a> with the following variables:</h3>
      <h5><ul style="list-style-type:None">
        <li>Ascent Rate: 2.92 m/s</li>
        <li>Burst Altitude: 33000 m</li>
        <li>Drag: 4.572 m/s</li>
      </ul></h5>
    </p>
    {% for sim in sims %}
      <p><h4>Simulation Created {{sim.create_date}} for {{sim.launch_site.name}} on {{sim.launch_date}} UTC Launch</h4>
        <div id="map-canvas{{sim.id}}" style="height:300px; width:400px"></div>
      </p>
    {% endfor %}
  </div>
{% endblock %}