{% extends 'layout.html' %}
{% block body %}
<p>
    This is a simple test to see if I could automate running simulations for the High Altitude Weather Balloon Project.<br>
    The simulations are run from <a href="http://predict.habhub.org">habhub</a> using the following variable values:
</p>
    <ul>
      <li>Burst Altitude: 33000 m</li>
      <li>Ascent Rate: 2.92 m/s</li>
      <li>Drag Rate: 4.572 m/s</li>
    </ul>
<p>
    View all old simulations using menu to the left.  Run new simulations by pressing the button.<br>
    Note: new simulations can only be created once per day, per launch date.
</p>
{% endblock %}