{% extends 'layout.html' %}
{% block script %}
  function initialize() {
    {% for site in avgs %}
    var mapOptions{{site.id}} = {
    zoom: 6,
    center: new google.maps.LatLng({{ site.lat }}, {{ site.long }})
    }
      var map{{site.id}} = new google.maps.Map(document.getElementById('map-canvas{{site.id}}'), mapOptions{{site.id}});
    {% endfor %}
    {% for point in landingsites %}
      var marker{{point.id}} = new google.maps.Marker({
        position: new google.maps.LatLng({{point.latitude}}, {{point.longitude}}),
        map: map{{point.site_id}},
        title: 'Launch Date: {{point.launch_date}} UTC'
      });
    {% endfor %}
  }
  google.maps.event.addDomListener(window, 'load', initialize);
{% endblock %}
{% block body %}
  {% for site in nav_locations %}
    <div id="map">
      Landing sites for {{ site.name }}<br>
      <div id="map-canvas{{ site.id }}" style="height:300px; width:400px; z:index:-1; margin: 0 auto;"></div>
    </div>
  {% endfor %}
{% endblock %}