{% extends 'layout.html' %}
{% block script %}
  function initialize() {
    var mapOptions = {
    zoom: 7,
    center: new google.maps.LatLng(35.773833, -78.054262)
    }
    {% for site in launchsites %}
      var map{{site.id}} = new google.maps.Map(document.getElementById('map-canvas{{site.id}}'), mapOptions);
    {% endfor %}
    {% for point in landingsites %}
      var marker{{point.id}} = new google.maps.Marker({
        position: new google.maps.LatLng({{point.latitude}}, {{point.longitude}}),
        map: map{{point.site_id}},
        title: 'Launch Date: {{point.launch_date}} UTC'
      });
    {% endfor %}
  }
  google.maps.event.addDomListener(window, 'load', initialize);
{% endblock %}
{% block body %}
  {% for site in launchsites %}
    <p>Landing sites for {{ site.name }}
    <div id="map-canvas{{ site.id }}" style="height:300px; width:400px"></div>
    </p}
  {% endfor %}
{% endblock %}