{% extends 'layout.html' %}
{% block script %}
  var Request = new XMLHttpRequest();
  var flightPath;
  var currentPosition;
  function initialize() {
    var mapOptions = {
    zoom: 10,
    center: new google.maps.LatLng(36.807113, -79.190529),
    mapTypeId: google.maps.MapTypeId.HYBRID
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    getPath();
    preloader();
    setInterval(addPointLoop, 15000);

    function getPath() {
        console.log('getPath');
        Request.onreadystatechange = addPath;
        Request.open('GET', '{{ url_for('get_coords') }}?all=True');
        Request.send();
    }

    function addPath() {
      if (Request.readyState == 4) {
        var flightPathCoordinates = [];
        var coords = JSON.parse(Request.responseText);
        for (a=0; a<coords.coordinates.length; a++) {
          flightPathCoordinates.push(new google.maps.LatLng(coords.coordinates[a].latitude, coords.coordinates[a].longitude));
          if (coords.coordinates[a].noteworthy != null) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(coords.coordinates[a].latitude, coords.coordinates[a].longitude),
                map: map,
                title: coords.coordinates[a].noteworthy + ' at ' + coords.coordinates[a].timestamp + 'UTC'
            });
          }
        }
        flightPath = new google.maps.Polyline({
          path: flightPathCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
        last = coords.coordinates.length - 1;
        currentPosition = new google.maps.Marker({
            position: new google.maps.LatLng(coords.coordinates[last].latitude, coords.coordinates[last].longitude),
            map: map,
            title: "Current Position"
        });
        flightPath.setMap(map);
        map.panTo(new google.maps.LatLng(coords.coordinates[last].latitude, coords.coordinates[last].longitude));
      }
    }
    function addPointLoop() {
      Request.onreadystatechange = addPoint;
      Request.open('GET', '{{ url_for('get_coords') }}');
      Request.send();
    }

    function addPoint() {
      if (Request.readyState == 4) {
        var path = flightPath.getPath();
        var coords = JSON.parse(Request.responseText);
        pos = new google.maps.LatLng(coords.coordinates[0].latitude, coords.coordinates[0].longitude);
        if (currentPosition.GetPosition() != pos) {
          path.push(pos);
          if (coords.coordinates[0].noteworthy != null) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(pos),
                map: map,
                title: coords.coordinates[0].noteworthy + ' at ' + coords.coordinates[a].timestamp + 'UTC'
            });
          }
          currentPosition.setPosition(pos);
          map.panTo(new google.maps.LatLng(pos));
        }
      }
    }

    function preloader(){
      document.getElementById("loading").style.display = "none";
      document.getElementById("content").style.display = "block";
    }
  }
  google.maps.event.addDomListener(window, 'load', initialize);
{% endblock %}
{% block body %}
  <p>See below for live tracking the day of the launch.  No need to reload page.  Maps will update automatically.</p>
  <h3>Live updates from APRS Transmitter</h3>
  <div id="map-canvas" style="height:500px; width:600px; z:index:-1;"></div>
  <h3>Map courtesy <a href="aprs.fi/#!call=a%2FN4CAP-11">aprs.fi.</a></h3>
  <div style="height:500px; width:600px; z:index:-1;">
	<script type="text/javascript">
	  he_track = "N4CAP-11"; // track this callsign
	  he_width = 600;
	  he_height = 500;
	  he_maptype = 'h';
	  he_zoom = 10;
	</script>
	<script type="text/javascript" src="http://aprs.fi/js/embed.js"></script>
  </div>
  <h3>GPS Tracker</h3>
  <div id="widget" style="height:500px; width:600px; z:index:-1;"></div>
  <script type="text/javascript" src="//d3ra5e5xmvzawh.cloudfront.net/live-widget/2.0/spot-main-min.js"></script>
  <script type="text/javascript">
	$(function() {
		$('#widget').spotLiveWidget({
			feedId: '0idvSjJkFWabudE2RfoTxMTyn8On56zMX',
			mapType: 'HYBRID',
            height: 500,
            width: 600
		});

	});
  </script>
{% endblock %}
