<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% block head %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Near Space Circus</title>
  {% endblock %}
    <style>
      {% block style %}
      {% endblock %}
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBk_3hOHALHmbcsuYIibd17UfivgQArbXs"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.countdown.min.js') }}"></script>
    <script>
      $(function(){
        $(".countdown").countdown({
          image: "{{ url_for('static', filename='digits.png') }}",
          format: "dd:hh:mm:ss",
          endTime: new Date(1429612800000)
        })
      })
      var httpRequest;
      function runSim(url) {
        document.getElementById('dim').style.visibility = 'visible';
        if (window.XMLHttpRequest) { // Mozilla, Safari, ...
          httpRequest = new XMLHttpRequest();
        } else if (window.ActiveXObject) { // IE
          try {
            httpRequest = new ActiveXObject("Msxml2.XMLHTTP");
          }
          catch (e) {
            try {
              httpRequest = new ActiveXObject("Microsoft.XMLHTTP");
            }
            catch (e) {}
          }
        }

        if (!httpRequest) {
          alert("Simulation Failed");
          document.getElementById('dim').style.visibility = 'hidden';
          return false;
        }
        httpRequest.onreadystatechange = alertDone;
        httpRequest.open('GET', url);
        httpRequest.send();
      }

      function alertDone() {
        if (httpRequest.readyState === 4) {
          alert(httpRequest.responseText);
          document.getElementById('dim').style.visibility = 'hidden';
        }
      }
      function preloader(){
        document.getElementById("loading").style.display = "none";
        document.getElementById("content").style.display = "block";
      }
      {% block script %} {% endblock %}
    </script>
  </head>
  <body>
    <header>
      <div class="countdown" style="float: right;"></div>
      <h1>Near Space Circus Simulations</h1>
    </header>
    <nav>
      <ul>
	    <li><a href="{{ url_for('index') }}">Home</a></li>
	    <li><a href="#">View Simulations</a>
	      <ul>
		    <li><a href="#">Launch Site</a>
              <ul>
                {% for location in nav_locations %}
			      <li><a href="{{ url_for('view_sims_by_launch', site_id=location.id) }}">{{ location.name }}</a></li>
                {% endfor %}
			  </ul>
		    </li>
		    <li><a href="#">Launch Date</a>
		      <ul>
                {% for sim in nav_sims %}
			    <li><a href="{{ url_for('view_sims_by_date', date = sim[0]) }}">{{ sim[0].strftime('%d %b, %Y') }}</a></li>
                {% endfor %}
			  </ul>
		    </li>
            <li><a href="#">Create Date</a>
		      <ul>
                {% for sim in cd_sims %}
			    <li><a href="{{ url_for('view_sims_by_create_date', date = sim[0]) }}">{{ sim[0].strftime('%d %b, %Y') }}</a></li>
                {% endfor %}
			  </ul>
		    </li>
		  </ul></li>
        <li><a href="{{ url_for('view_all') }}">View All Simulations</a></li>
        <li><a href="{{ url_for('landing_sites') }}"> View Landing Sites</a></li></ul>
	  <button id="runSim" type="button" onclick="runSim('/run-sim')">Run Simulations</button>
    </nav>
    <section>
      <div id="loading"></div>
      <div id="content">
        {% block body %}{% endblock %}
      </div>
    </section>
    <div id="dim"><img class="dim" src="{{ url_for('static', filename='radar.gif') }}"></div>
    <script>preloader();</script>
  </body>
</html>
