<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>View Simulations for {{sims.first().launch_date}}</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBk_3hOHALHmbcsuYIibd17UfivgQArbXs"></script>
    <script>
function initialize() {
  {% for sim in sims %}
  var mapOptions{{sim.uuid}} = {
    zoom: 8,
    center: new google.maps.LatLng({{sim.launch_site.latitude}}, {{sim.launch_site.longitude}})
  }

  var map{{sim.uuid}} = new google.maps.Map(document.getElementById('map-canvas{{sim.uuid}}'), mapOptions{{sim.uuid}});

  var ctaLayer = new google.maps.KmlLayer({
    url: 'http://near-space-circus.heroku.com/kml/{{sim.uuid}}'
  });
  ctaLayer.setMap(map{{sim.uuid}});
  {% endfor %}
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
  <h1> Simulations created for {{sims.first().launch_date}}</h1>
    {% for sim in sims %}
    <p>Simulation Created on {{sim.create_date}} for {{sim.launch_site.name}}
    <div id="map-canvas{{sim.uuid}}" style="height:300px; width:400px"></div></p>
    {% endfor %}
  </body>
</html>


